@media (max-device-width: 48rem) {
  body {
    margin: 0;
    /* position: relative; */
  }
  .container {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
.content { display: block; }
  aside {
    height: 25vh; 
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    border-radius: 0;
    background: url('../images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  aside .step-container {
    align-items: normal;
    line-height: 0.4rem;
    font-size: 18px;
  }
  aside .step-container span {
    margin: 0;
    width: 3.5rem;
    height: 3.5rem;
  }
  .step-info { display: none; }
  .main-info {
    padding: 0;
    background-color: hsl(229, 24%, 87%);
  }
  .main-info section {
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    margin: auto;
    padding: 0 2rem 2rem;
    border-radius: 1rem;
    position: absolute;
    top: 15vh;
    transform: translate(18px); /* get the correct numbers to align centre */
  }
  .billing-type {
    margin-bottom: .8rem;
    padding: 15px;
    display: flex;
    gap: 1rem;
    border-radius: 10px;
  }
  .billing-type img {
    margin-bottom: 0;
  }
  .billing-toggle {
    padding: 1rem 0 2rem 0;
  }
  .add-ons-content .checkbox-wrapper { 
    margin-bottom: .8rem;
  }
  .add-ons-content .checkbox-wrapper label {
    padding: 15px;
    border-radius: 10px;
  }
  .btn-container {
    background-color: #fff;
    /* position: absolute;
    bottom: 0; */
}
  .success-content {
    color: hsl(213, 96%, 18%);
    text-align: center;
    margin: 10px;
  }
}