@media (max-device-width: 48rem) {
  body {
    margin: 0;
  }
  .container {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
.content { display: block; }
  aside {
    height: 25vh; 
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    border-radius: 0;
    background: url('../images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  aside .step-container {
    align-items: normal;
    line-height: 0.4rem;
    font-size: 18px;
  }
  aside .step-container span {
    margin: 0;
    width: 3.5rem;
    height: 3.5rem;
  }
  .step-info {
      display: none;
  }

  .main-info {
    padding: 0;
    background-color: hsl(229, 24%, 87%);
  }
  .main-info section {
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    margin: auto;
    padding: 0 2rem 2rem;
    border-radius: 1rem;
    position: absolute;
    top: 15vh;
    transform: translate(18px); /* get the correct numbers to align centre */
  }
}